## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Yozgat,TR,39.5833,35.3333,90.73,18,0,9.13,clear sky,2021-07-17 12:13:15
1,1,Porto Novo,BJ,6.4965,2.6036,78.64,80,100,7.58,light rain,2021-07-17 12:13:16
2,2,General Roca,AR,-39.0333,-67.5833,34.20,50,0,15.88,clear sky,2021-07-17 12:13:16
3,3,Arrecife,ES,28.9630,-13.5477,82.38,54,0,16.11,clear sky,2021-07-17 12:13:16
4,4,Hirosaki,JP,40.5931,140.4725,78.51,95,39,0.40,scattered clouds,2021-07-17 12:13:17

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the lowest temperature you would like for your trip? "))
max_temp = float(input("What is the highest temperature you would like for your trip? "))

What is the lowest temperature you would like for your trip? 60
What is the highest temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Porto Novo,BJ,6.4965,2.6036,78.64,80,100,7.58,light rain,2021-07-17 12:13:16
3,3,Arrecife,ES,28.9630,-13.5477,82.38,54,0,16.11,clear sky,2021-07-17 12:13:16
4,4,Hirosaki,JP,40.5931,140.4725,78.51,95,39,0.40,scattered clouds,2021-07-17 12:13:17
6,6,Pangai,TO,-19.8000,-174.3500,76.75,85,2,20.49,clear sky,2021-07-17 12:13:17
8,8,Aksu,CN,41.1231,80.2644,85.50,33,34,12.19,light rain,2021-07-17 12:13:18
9,9,Cockburn Town,TC,21.4612,-71.1419,81.36,77,94,20.67,overcast clouds,2021-07-17 12:13:18
10,10,Ribeira Grande,PT,38.5167,-28.7000,70.20,64,20,8.05,few clouds,2021-07-17 12:13:18
11,11,Halifax,CA,44.6453,-63.5724,72.52,90,99,1.01,overcast clouds,2021-07-17 12:11:00
12,12,Wanning,CN,18.8003,110.3967,82.69,78,100,2.80,overcast clouds,2021-07-17 12:13:19
13,13,Hamilton,US,39.1834,-84.5333,72.88,97,90,1.01,overcast clouds,2021-07-17 12:13:19

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Porto Novo,BJ,6.4965,2.6036,78.64,80,100,7.58,light rain,2021-07-17 12:13:16
3,3,Arrecife,ES,28.9630,-13.5477,82.38,54,0,16.11,clear sky,2021-07-17 12:13:16
4,4,Hirosaki,JP,40.5931,140.4725,78.51,95,39,0.40,scattered clouds,2021-07-17 12:13:17
6,6,Pangai,TO,-19.8000,-174.3500,76.75,85,2,20.49,clear sky,2021-07-17 12:13:17
8,8,Aksu,CN,41.1231,80.2644,85.50,33,34,12.19,light rain,2021-07-17 12:13:18
9,9,Cockburn Town,TC,21.4612,-71.1419,81.36,77,94,20.67,overcast clouds,2021-07-17 12:13:18
10,10,Ribeira Grande,PT,38.5167,-28.7000,70.20,64,20,8.05,few clouds,2021-07-17 12:13:18
11,11,Halifax,CA,44.6453,-63.5724,72.52,90,99,1.01,overcast clouds,2021-07-17 12:11:00
12,12,Wanning,CN,18.8003,110.3967,82.69,78,100,2.80,overcast clouds,2021-07-17 12:13:19
13,13,Hamilton,US,39.1834,-84.5333,72.88,97,90,1.01,overcast clouds,2021-07-17 12:13:19

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Porto Novo,BJ,78.64,light rain,6.4965,2.6036,
3,Arrecife,ES,82.38,clear sky,28.9630,-13.5477,
4,Hirosaki,JP,78.51,scattered clouds,40.5931,140.4725,
6,Pangai,TO,76.75,clear sky,-19.8000,-174.3500,
8,Aksu,CN,85.50,light rain,41.1231,80.2644,
9,Cockburn Town,TC,81.36,overcast clouds,21.4612,-71.1419,
10,Ribeira Grande,PT,70.20,few clouds,38.5167,-28.7000,
11,Halifax,CA,72.52,overcast clouds,44.6453,-63.5724,
12,Wanning,CN,82.69,overcast clouds,18.8003,110.3967,
13,Hamilton,US,72.88,overcast clouds,39.1834,-84.5333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Porto Novo,BJ,78.64,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
3,Arrecife,ES,82.38,clear sky,28.9630,-13.5477,Hotel Lancelot
4,Hirosaki,JP,78.51,scattered clouds,40.5931,140.4725,Dormy Inn Hirosaki
6,Pangai,TO,76.75,clear sky,-19.8000,-174.3500,Ha'apai Beach Resort
8,Aksu,CN,85.50,light rain,41.1231,80.2644,Pudong Holiday Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))